// Nav menu
//
// A "nav menu" is secondary, hierarchical navigation which can be displayed to the
// side or below the main content.
//
// Markup: nav-menu.twig
//
// Style guide: components.navigation.nav-menu

.nav-menu,
%nav-menu {

  &__item {
    // list-style-image: image-url('nav-menu/leaf.svg');
    // list-style-type: square;
    list-style-type: none;
    margin-top: 2em;

    a {
      width: 12em;
      text-transform: uppercase;
      font-size: 2em;
      padding: .25em .5em;
    }

    &.is-expanded,
    &--is-expanded {
      // list-style-image: image-url('nav-menu/expanded.svg');
      // list-style-type: circle;
      list-style-type: none;

    }

    &.is-collapsed,
    &--is-collapsed {
      // list-style-image: image-url('nav-menu/collapsed.svg');
      // list-style-type: disc;
      list-style-type: none;


      @include rtl() {
        list-style-image: image-url('nav-menu/collapsed-rtl.svg');
      }
    }
  }

  &__link {
    &.is-active,
    &--is-active {
      color: color(menu-active);
      background: color(menu-active-bg);
    }
  }
}

//
// Drupal selectors.
//

.menu__item {
  @extend %nav-menu__item;

  &.is-expanded {
    @extend %nav-menu__item--is-expanded;
  }

  &.is-collapsed {
    @extend %nav-menu__item--is-collapsed;
  }
}

// The active item in a Drupal menu.
.menu a.active {
  @extend %nav-menu__link--is-active;
}
